{% extends './layouts/base.html' %}

{% block content %}
<!-- PÁGINA DE CADASTRO DO CLIENTE -->
<div class="count float-right">
<h1 class="display-4 text-center">NOVO USUÁRIO</h1>
<br>
<form onsubmit="send(event)" data-bind="submit: submitForm" id="form" method="POST" action="/register">
    <div class="row">
        <div class="col-12" data-bind="with: alert">
            <div class="alert" data-bind="text: msgAlert,
                                          css: {'alert-danger': (type == 'danger'), 'alert-info': (type == 'info')},
                                          visible: show">

            </div>
        </div> 
        <div class="col-12">
            <label>Nome</label>
            <input type="text" name=""  id="name" class="form-control"  data-bind="value: userName">
        </div> 
        <div class="col-12">
            <label>Sobrenome</label>
            <input type="text" name="" id="lastname" class="form-control" data-bind="value: userLastName">
        </div>
        <div class="col-6">
            <label>E-mail</label>
            <input type="email" name=""  id="email" class="form-control" data-bind="value: userEmail">
        </div>
        <div class="col-6">
            <label>Telefone</label>
            <input type="num" name="" id="phone" class="form-control" data-bind="value: userPhone">
        </div>

        <div class="col-3">
            <label>CEP</label>
            <input type="num" name="" id="cep" class="form-control" data-bind="value: userCep">
        </div>
        <div class="col-3">
            <label>Estado</label>
            <select class="form-control" id="state" class="form-control" data-bind="options: userState">
               
                <option value="AC">Selecione seu estado</option>
                <option value="AC">Acre</option>
                <option value="AL">Alagoas</option>
                <option value="AP">Amapá</option>
                <option value="AM">Amazonas</option>
                <option value="BA">Bahia</option>
                <option value="CE">Ceará</option>
                <option value="DF">Distrito Federal</option>
                <option value="ES">Espírito Santo</option>
                <option value="GO">Goiás</option>
                <option value="MA">Maranhão</option>
                <option value="MT">Mato Grosso</option>
                <option value="MS">Mato Grosso do Sul</option>
                <option value="MG">Minas Gerais</option>
                <option value="PA">Pará</option>
                <option value="PB">Paraíba</option>
                <option value="PR">Paraná</option>
                <option value="PE">Pernambuco</option>
                <option value="PI">Piauí</option>
                <option value="RJ">Rio de Janeiro</option>
                <option value="RN">Rio Grande do Norte</option>
                <option value="RS">Rio Grande do Sul</option>
                <option value="RO">Rondônia</option>
                <option value="RR">Roraima</option>
                <option value="SC">Santa Catarina</option>
                <option value="SP">São Paulo</option>
                <option value="SE">Sergipe</option>
                <option value="TO">Tocantins</option>
                <option value="EX">Estrangeiro</option>
                -->
            </select>
        </div>
        <div class="col-3">
            <label>Cidade</label>
            <input class="form-control" type="text" name=""  id="city" class="form-control" data-bind="value: userCity">
        </div>
        <div class="col-3">
            <label>Bairro</label>
            <input type="text" name="" id="neighborhood" class="form-control" data-bind="value: userNeighborhood">
        </div>
        <div class="col-4">
            <label>Endereço</label>
            <input type="text" name="" id="address" class="form-control" data-bind="value: userAddress">
        </div>
        <div class="col-4">
            <label>Número</label>
            <input type="text" name=""  id="number" class="form-control" data-bind="value: userNumber">
        </div>
        <div class="col-4">
            <label>Complemento</label>
            <input type="text" name="" value="" id="complement" class="form-control" data-bind="value: userComplement">
        </div>
        <div class="col-6">
            <label>Senha</label>
            <input type="password" name="" id="password" class="form-control" data-bind="value: userPassword">
        </div>
        <div class="col-6">
            <label>Confirmar senha</label>
            <input type="password" name=""  id="confirmpassword" class="form-control" data-bind="value: userConfirmPassword">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-12 mt-4 d-flex justify-content-center">
            <button type="submit" class="btn btn-dark col-2" id="btnSend" data-bind="click: submitForm">Enviar</button>
            <!-- <a href="/index" class="btn btn-outline-success btn-block float-left col-2" name="button">Voltar</a> -->
        </div>
    </div>
</form>
<br>
</div>

    <!-- /.box-header -->
<div class="box-body no-padding">
    <div class="box">
      <table class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th>Foto</th>
            <th>Nome</th>
            <th>Sobrenome</th>
            <th>E-mail</th>
            <th>Telefone</th>
            <th>Cidade</th>
          </tr>
        </thead>
        
        <tbody data-bind="foreach: tableUsers">
            <tr>
                <td class="table-info" ><img src="https://abrilexame.files.wordpress.com/2018/10/8dicas8.jpg?quality=70&strip=info&w=1000&h=1000" style="width: 30px; height: 30px; border-radius: 20px;" alt=""></td>
                <td class="table-info" data-bind="text: tableName"></td>
                <td class="table-info" data-bind="text: tableLastName"></td>
                <td class="table-info" data-bind="text: tableEmail"></td>
                <td class="table-info" data-bind="text: tablePhone"></td>
                <td class="table-info" data-bind="text: tableCity"></td>
            </tr>
        </tbody>
        
      </table>
    </div>
    <!-- /.box-body -->
  </div>
{% endblock %}

{% block title %}
  Cadastre-se
{% endblock %}

{% block script %}

  <script src="/js/register.js" charset="utf-8"></script>
  <link rel="stylesheet" href="styles/register.css">
  <script src="https://knockoutjs.com/downloads/knockout-3.5.1.js"></script>
{% endblock %}